#homepage-title {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#homepage-title-resume {
    width: 25%;
}

#homepage-title-chooser {
    width: 50%;
    padding: 0px 10px;
}

#homepage-title-period {
    width: 25%;
    padding: 0px 10px;
}