#resumedata {
    background-color: rgb(244, 244, 244);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2%;
}

#resumedata-firstpart {
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

/* nom de l'entreprise */
#resumedata-firstpart div:nth-child(1) {
    font-weight: 700;
    font-size: x-large;
    padding-bottom: 10px;
    text-transform: uppercase;
}

/* evolution du prix */
#resumedata-firstpart div:nth-child(2) {
    font-weight: 500;
    font-size: large;
    text-transform: uppercase;
}

#resumedata-secondpart {
    padding: 20px;
    font-size: 1.1em;
}

.resumedata-secondpart-current,
.resumedata-secondpart-previousclose,
.resumedata-secondpart-highlow,
.resumedata-secondpart-open {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* le groupe value + currency */
.resumedata-secondpart-right {
    display: flex;
    gap: 4px;
    font-weight: 600;
    color: #000;
}

.resumedata-secondpart-description {
    font-weight: 500;
    color: #333;
}

.resumedata-secondpart-value {
    
}

.resumedata-secondpart-currency {
    font-size: 0.85em;
    color: #666;
}