#reportlist-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.reportlist-td, .reportlist-th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.reportlist-td-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reportlist-td-name-tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.reportlist-td-name-tooltip {
    visibility: hidden;
    width: 400px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 8px;
    border-radius: 5px;

    /* Positionnement */
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    /* Animation */
    opacity: 0;
    transition: opacity 0.3s;
}

.reportlist-td-name-tooltip-container:hover .reportlist-td-name-tooltip {
    visibility: visible;
    opacity: 1;
}

/* Optionnel : flèche */
.reportlist-td-name-tooltip::after {
    content: "";
    position: absolute;
    top: 100%; /* Bas de la bulle */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}