.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.onright {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.oncolumn {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}